[project]
	description = gpms Application 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/GatePass
[access "refs/for/refs/*"]
	read = group user/GatePass
	push = group user/GatePass
	label-Code-Review = -2..+2 group user/GatePass
	label-Verified = -1..+1 group user/GatePass
	rebase = group user/GatePass
	removeReviewer = group user/GatePass
	submit = group user/GatePass
[access "refs/heads/*"]
	read = group user/GatePass
	create = group user/GatePass
	push = +force group user/GatePass
	pushMerge = group user/GatePass
[access "refs/tags/*"]
	push = +force group user/GatePass
	pushTag = group user/GatePass
	pushSignedTag = group user/GatePass
